<div id="park-data" style="display:none;">
  <%= parks.to_json %>
</div>

<% parks.each do |park| %>
  <% Rails.logger.info(park.inspect) %>
  <div style="display:none" id="park-pane-<%=park.id%>">
    <h1> here's a park! <%= park.formal_name %></h1>
  </div>
<% end %>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
</script>

<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 39.75, lng: -105},
          zoom: 12,
          styles:[{"stylers":[{"saturation":-100}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#0099dd"}]},{"elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#aadd55"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"road.local","elementType":"labels.text","stylers":[{"visibility":"on"}]},{}]
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

<<<<<<< HEAD
      <% @parks.each do |park| %>
        var marker = new google.maps.Marker({
          position: { lat: park.latitude, lng: park.longitude},
          map: map,
          title:"Hello World!"
        });
      <% end %>
=======
        var parksJson = $("#park-data").html();
        var parks = JSON.parse(parksJson);
        var markers = [];
        for (i in parks) {
          var park = parks[i]
          var marker = new google.maps.Marker({
                         position: {lat: park.latitude, lng: park.longitude},
                         map: map,
                         title: park.formal_name
                        });

          //google.maps.event.addListener(marker, 'click', function() {
          //add click events
          //});
         markers.push(marker);
        }
>>>>>>> map-markers

      };
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
