// Place all the styles related to the Parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.park-pane {
  width: 25%;
  margin-top: 10px;
  font-size: 11px;
  position: relative;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  background-color: white;
  padding: 9px 11px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
}

.park-pane.active {
  display: block;
}
.container-navbar {
  display: inline-block;
  width: 100%;
 }

.field h4 {
  float: left;
  margin-right: 10px;
}

#title {
  float: left;
  margin-left: 50px;
  margin-top: 10px;
}

.search-nav {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}

.park-pane img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.park-pane h2 {
  text-align: center;
}
.park-pane h4 {
  text-align: center;
}

.park-pane p {
  padding-left: 5px;
  padding-right: 5px
}

.park-pane h5 {
  padding-left: 5px;
  padding-right: 5px
}

.close-button {
  position: relative;
  float: right;
}
